@model ZoomConnect.Web.ViewModels.SelectedProfsModel
@using ZoomConnect.Web.ViewModels;

@{
    ViewData["Title"] = "Professors";
}

<h1>Profs</h1>

@if (Model.SelectedProfs > 0)
{
    <div class="alert @Model.AlertClass" role="alert">@Model.AlertMessage</div>
}

<form asp-controller="Profs" asp-action="@(Model.SelectedProfs == 0 ? "Index" : "Create")" method="post">

    <table class="table table-sm">
        <thead>
            <tr>
                <td>
                    @if (Model.SelectedProfs == 0)
                    {
                        <input type="checkbox" id="SelectAll" title="Select All" />
                    }
                </td>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Courses</th>
                <th scope="col">Zoom Acct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prof in Model.Profs)
            {
                <tr class="@prof.RowStatusClass">
                    <td>
                        <input type="hidden" name="Profs.Index" value="@prof.Pidm" />
                        <input type="hidden" name="Profs[@prof.Pidm].Pidm" value="@prof.Pidm" />
                        @if (Model.SelectedProfs == 0 && prof.ZoomStatus == ZoomUserStatus.Missing && prof.Email != "no email")
                        {
                            <input type="checkbox" name="Profs[@prof.Pidm].IsSelected" value="true" />
                        }
                        else if (Model.SelectedProfs > 0)
                        {
                            <input type="hidden" name="Profs[@prof.Pidm].IsSelected" value="true" />
                        }
                    </td>
                    <td>@prof.Name</td>
                    <td>
                        @prof.Email
                        @if (prof.AltEmailCount > 0)
                        {
                            <span title="@prof.AltEmails">(@prof.AltEmailCount alt.)</span>
                        }
                    </td>
                    <td>
                        @if (prof.CourseCount < 5)
                        {
                            @prof.Courses
                        }
                        else
                        {
                            <span title="@prof.Courses">@prof.CourseCount course assignments</span>
                        }
                    </td>
                    <td>
                        <span class="@prof.RowStatusIcon" title="@prof.ZoomStatus" aria-hidden="true"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Find/Create Zoom Users</button>
    @if (Model.SelectedProfs > 0)
    {
        <a asp-action="Index"><span class="btn btn-secondary">Cancel</span></a>
    }

</form>