@model IEnumerable<ZoomConnect.Web.ViewModels.ProfViewModel>

@{
    ViewData["Title"] = "Professors";
}

<h1>Profs</h1>

<p>goremal row count: @ViewData["GoremalCount"]</p>

<ul>
    @foreach (var prof in Model)
    {
        <li>
            @prof.Name -
            @prof.Email
            @if (prof.altEmailCount > 0)
            {
                <span title="@prof.altEmails">(@prof.altEmailCount alt.)</span>
            }
            <span title="@prof.courses">[@prof.courseCount course assignment(s)]</span>
        </li>
    }
</ul>
