@model ZoomConnect.Web.Services.Zoom.CachedProfModels

@{
    ViewData["Title"] = "Professors";
}

<h1>Profs</h1>

<p>goremal row count: @ViewData["GoremalCount"]</p>

<ul>
    @foreach (var prof in Model.Profs
       .OrderBy(p => p.bannerPerson.last_name)
       .ThenBy(p => p.bannerPerson.first_name))
    {
        <li>
            @prof.bannerPerson.last_name, @prof.bannerPerson.first_name -
            @(prof.primaryEmail == null ? "no email" : prof.primaryEmail.email_address)
            @if (prof.otherEmails.Any())
            {
                <span>
                    (alt.
                    @String.Join(", ", prof.otherEmails.Select(e => e.email_address))
                    )
                </span>
            }
            [
            @String.Join(", ", prof.assignments.Select(a => String.Format("{0}-{1}", a.crse_numb, a.seq_numb)))
            ]
        </li>
    }
</ul>
