@model List<ZoomConnect.Web.Banner.Domain.spriden_student>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.Count Students</div>

<ul>
    @foreach (var item in @Model)
    {
        <li><b>@item.id</b> - @item.last_name, @item.first_name - @item.email - @item.degc - @item.classlevel  </li>
    }
</ul>
