@model ZoomConnect.Web.Models.ParticipantReportModel
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.participants.Count Participants</div>

<ul>
    @foreach (var item in @Model.participants)
    {
        <li><b>@item.name</b> - @(Math.Ceiling(item.duration / 60.0)) minute(s) starting @item.join_time</li>
    }
</ul>
