@model List<ZoomConnect.Web.Models.ZoomMeetingCourseModel>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.Count Zoom Meetings</div>

<ul>
    @foreach (var item in @Model)
    {
        <li><b>@item.ZoomMeetingId</b> - @item.Term @item.Crn @item.Subject @item.CourseNum @item.CourseTitle - @item.ProfLastName</li>
    }
</ul>
