@model ZoomConnect.Web.Services.Zoom.ZoomUserFinder

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>Goremal Count? @ViewData["GoremalCount"]</p>

<h2>Profs Found (@Model.FoundProfs.Count)</h2>
<ul>
    @foreach (var prof in Model.FoundProfs)
    {
        <li>
            @prof.bannerPerson.last_name, @prof.bannerPerson.first_name -
            @prof.primaryEmail.email_address
            @if (prof.otherEmails.Any())
            {
                <span>(alt.
                @String.Join(", ", prof.otherEmails.Select(e => e.email_address))
                )</span>
            }
        </li>
    }
</ul>

<h2>Emails Missing From Zoom (@Model.MissingProfs.Count)</h2>
<ul>
    @foreach (var missing in Model.MissingProfs)
    {
        <li>@missing.email_address</li>
    }
</ul>