@model ZoomConnect.Web.ViewModels.SelectedCoursesViewModel

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<form asp-controller="Courses" asp-action="Index" method="POST">

    <table class="table table-sm">
        <thead>
            <tr>
                <td>
                    @if (Model.SelectedCourses == 0)
                    {
                        <input type="checkbox" id="SelectAll" title="Select All" />
                    }
                </td>
                <th scope="col">CRN</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Professor</th>
                <th scope="col">Next Occurrence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr class="@(course.IsMeetingConnected ? "table-success" : "")">
                    <td>
                        <input type="hidden" name="Courses.Index" value="@course.MeetingId" />
                        <input type="hidden" name="Courses[@course.MeetingId].MeetingId" value="@course.MeetingId" />
                        @if (Model.SelectedCourses == 0 && !course.IsMeetingConnected && course.IsProfConnected)
                        {
                            <input type="checkbox" name="Courses[@course.MeetingId].IsSelected" value="true" />
                        }
                        else if (Model.SelectedCourses > 0)
                        {
                            <input type="hidden" name="Courses[@course.MeetingId].IsSelected" value="true" />
                        }
                    </td>
                    <td>@course.Crn</td>
                    <td>@course.Description</td>
                    <td>@course.TimeAndDays</td>
                    <td>@course.Location</td>
                    <td>
                        @if (course.IsProfConnected)
                        {
                            <span class="oi oi-check text-success" title="connected" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="oi oi-x text-danger" title="not connected" aria-hidden="true"></span>
                        }
                        @course.Prof
                    </td>
                    <td>@course.NextOccurrence.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Find/Create Zoom Meetings</button>
</form>
