@model ZoomConnect.Web.ViewModels.SelectedCoursesViewModel
@using ZoomConnect.Web.ViewModels;

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<form asp-controller="Courses" asp-action="@(Model.SelectedCourses == 0 ? "Index" : "Create")" method="POST">

    <table class="table table-sm">
        <thead>
            <tr>
                <td>
                    @if (Model.SelectedCourses == 0)
                    {
                        <input type="checkbox" id="SelectAll" title="Select All" />
                    }
                </td>
                <th scope="col">CRN</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Professor</th>
                <th scope="col">Next Occurrence</th>
                @if (Model.IncludeCanvas)
                {
                    <th scope="col">Canvas</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr class="@(course.IsMeetingConnected ? "table-success" : "")">
                    <td>
                        <input type="hidden" name="Courses.Index" value="@course.MeetingId" />
                        <input type="hidden" name="Courses[@course.MeetingId].MeetingId" value="@course.MeetingId" />
                        @if (Model.SelectedCourses == 0 && !course.IsMeetingConnected && course.ProfZoomStatus == ZoomUserStatus.Connected)
                        {
                            <input type="checkbox" name="Courses[@course.MeetingId].IsSelected" value="true" />
                        }
                        else if (Model.SelectedCourses > 0)
                        {
                            <input type="hidden" name="Courses[@course.MeetingId].IsSelected" value="true" />
                        }
                    </td>
                    <td>@course.Crn</td>
                    <td>@course.Description</td>
                    <td>@course.TimeAndDays</td>
                    <td>@course.Location</td>
                    <td>
                        <span class="@course.ProfStatusCssClass" title="@course.ProfZoomStatus" aria-hidden="true"></span>
                        @course.Prof
                    </td>
                    <td>@course.NextOccurrence.ToShortDateString()</td>
                    @if (Model.IncludeCanvas)
                    {
                        <td><span class="@course.CanvasStatusCssClass" title="@(course.IsCanvasEventCreated ? "yes" : "no")"></span></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Find/Create Zoom Meetings</button>
    @if (Model.SelectedCourses > 0)
    {
        <a asp-action="Index"><span class="btn btn-secondary">Cancel</span></a>
    }
</form>
