@model ZoomConnect.Web.Services.Zoom.CachedMeetingModels

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>ssrmeet row count: @ViewData["RowCount"]</p>

<h2>Meetings Found (@Model.FoundMeetings.Count)</h2>
<ul>
    @foreach (var meeting in Model.FoundMeetings
       .OrderBy(m => m.bannerCourse.crse_numb)
       .ThenBy(m => m.bannerCourse.seq_numb))
    {
        <li>
            @meeting.bannerCourse.subj_code @meeting.bannerCourse.crse_numb [@meeting.bannerCourse.seq_numb] -
            @meeting.bannerCourse.crse_title
            (@meeting.primaryProf.bannerPerson.last_name)
        </li>
    }
</ul>

<h2>Meetings Missing From Zoom (@Model.MissingMeetings.Count)</h2>
<ul>
    @foreach (var missing in Model.MissingMeetings
       .OrderBy(m => m.bannerCourse.crse_numb)
       .ThenBy(m => m.bannerCourse.seq_numb))
    {
        <li>
            @missing.bannerCourse.subj_code @missing.bannerCourse.crse_numb [@missing.bannerCourse.seq_numb] -
            @missing.bannerCourse.crse_title
        </li>
    }
</ul>